<% present page, "index" do |presenter| %>
  <div class="tbl-content">
    <table aria-labelledby="<%= table_title %>">
      <thead>
        <tr>
          <% page.attribute_types.each do |attr_name, attr_type| %>
            <th class="cell-label
            cell-label--<%= attr_type.html_class %>
            cell-label--<%= page.ordered_html_class(attr_name) %>"
            scope="col"
            role="columnheader"
            aria-sort="<%= sort_order(page.ordered_html_class(attr_name)) %>">
            <%= link_to(sanitized_order_params.merge(
              page.order_params_for(attr_name)
            )) do %>
            <%= t(
              "helpers.label.#{page.resource_name}.#{attr_name}",
              default: attr_name.to_s,
            ).titleize %>

                <% if page.ordered_by?(attr_name) %>
                  <span class="cell-label__sort-indicator cell-label__sort-indicator--<%= page.ordered_html_class(attr_name) %>">
                    <svg aria-hidden="true">
                      <use xlink:href="#icon-up-caret" />
                    </svg>
                  </span>
                <% end %>
              <% end %>
            </th>
          <% end %>
          <% [valid_action?(:edit, page.resource_name),
              valid_action?(:destroy, page.resource_name)].count(true).times do %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% resources.each do |resource| %>
          <tr class="js-table-row"
              tabindex="0"
              <% if valid_action? :show, page.resource_name %>
                <%= %(role=link data-url=#{polymorphic_path([namespace, resource])}) %>
              <% end %>
              >
            <% page.attributes_for(resource).each do |attribute| %>
              <td class="cell-data cell-data--<%= attribute.html_class %>">
                <a href="<%= polymorphic_path([namespace, resource]) -%>" class="action-show">
                  <%= presenter.render_fld presenter, attribute %>
                </a>
              </td>
            <% end %>

            <% if valid_action? :edit, page.resource_name %>
              <td><%= link_to(
                t("administrate.actions.edit"),
                [:edit, namespace, resource],
                class: "action-edit",
              ) %></td>
            <% end %>

            <% if valid_action? :destroy, page.resource_name %>
              <td><%= link_to(
                t("administrate.actions.destroy"),
                [namespace, resource],
                class: "text-color-red",
                method: :delete,
                data: { confirm: t("administrate.actions.confirm") }
              ) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if paginate_fld %>
  <%= paginate resources, param_name: paginate_fld.name  %>
  <% end %>
<% end %>
