<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "rykn0wxx", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= navbar_link_to "Index", index_path, :active_when => { :controller => "dashboard", :action => "index" } if can? :manage, Client %>
        <%= navbar_link_to "Admin", admin_root_path, :active_when => { :controller => "clients", :action => "index" } if can? :manage, Client %>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "default.svg", :size => "21x21", :alt => "user", :class => "user-image" %>
            <span class="hidden-xs"><%= current_user.username %></span>
          </a>
          <ul class="dropdown-menu slideInDown">
            <li class="user-header">
              <p>
                <%= current_user.name %>
                <small>
                  <%= current_user.isadmin ? "Admin" : "User" %>
                </small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile", edit_user_registration_path, :class => "btn btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
        <li><span style="width:20px;display:inline-block;"></span></li>
      </ul>
    </div>
  </div>
</nav>
